h1, p {
    text-align: center;
}

img {
    display: block;
    margin-right: 80px;
    margin-left: 20px;
    padding: 2%
    
}

.desc {
    text-align: auto;
    position:relative; left:80px; 

}

.Recipe {
    width: 80%;
    margin-left: 20px;
    margin-right: 80px;
}