/*styling the header with color and aligning items inside*/
header {
    font-family: garamond;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
/*assigning font the contents of p and desc as well as aligning*/
p {
    text-align: center;
    font-family: italic;
}

.desc {
    text-align: auto;
    margin-right:50px;
    margin-left: 10px;
    font-size: 17px;

}
/*assigning webpage body color*/
body {
    background-color: rgba(210, 217, 186, 0.903);
}
/*deseigning the container with customized edges, assigning bg color, changing margin, padding, width, and aligning contents*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 20px auto;
    padding: 25px;
    background-color:rgba(239, 240, 201, 0.903);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: outset;
    border-color: rgb(106, 94, 51);
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px; 
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
}
/*adjusting each content's margins and padding*/
.Recipe {
    flex: 1;
    margin-right: 20px;
}

.ingredients {
    flex: 1;
    padding: 10px;
    font-size: 17px;
}

.ingredients h2 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.ingredients ul {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

.ingredients li {
    margin-bottom: 10px;
    margin-top: 10px;
}

.ingredients .hrr {
    width: 100%;
    margin: 0;
    border: 0;
    border-top: 1px solid #333;
}
