/*Designing the header with linear gradient for smooth color transition*/
header {
    font-family: garamond;
    background: linear-gradient(to bottom, #52c4af, rgb(115, 113, 149), #2d2b6b);
    text-align: center;
    padding: 30px;
    font-size: 15px;
    color: #fff
} 

body {
    background-color: #2d2b6b;
}
/*Adjusting the main content's container from color, margin, padding, and position of content*/
.container {
    color: #fff;
    border-style: inherit;
    background-color: #0d0b37;
    max-width: 100%;
    margin: 20px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 20px;
    position: center;
    text-align: justify;
    border: 2px solid #fff;
    line-height: 1.5;
}

.container p {
    margin-bottom: 15px;
}

li {
    display:inline;
    margin: 20px;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

h1 {
    margin: 0;
    padding: 30px;
}

a {
    color: white;
}

a:hover {
    color: yellow;
}

a:visited {
    color: #52c4af;
}